<!-- Authors: Sean Clayton, Ivan Wong, Alex Loomis -->
<!DOCTYPE html>
<html>
<head>
  <title>New User Dashboard</title>
  <script src="/events/new-user-events.js"></script>
  <link rel="stylesheet" href="/styles/tables.css"> <link rel="stylesheet" href="/styles/dashboards.css">
</head>
<body>
  <h1 class="main-header">Welcome!</h1>

  <div>
    <h2 class="instructions">Instructions</h2>
    <p class="instructions-text">You can browse our office locations and meet our doctors before registering as a patient.</p>
  </div>
  <div class="tables-container">
    <div>
      <h4 class="table-title">Offices</h4>
      <table border="1">
        <tr class="header-row">
          <th class="header-element">Office Name</th>
          <th class="header-element">Location</th>
          <th class="header-element">Phone Number</th>
        </tr>
        <% offices.forEach(office => { %>
          <tr class="data-row">
            <td class="data-element"><%= office.office_name %></td>
            <td class="data-element"><%= office.location %></td>
            <td class="data-element"><%= office.phone_number %></td>
          </tr>
        <% }) %>
      </table>
    </div>

    <div style="margin-top: 30px;">
      <h4 class="table-title">Doctors</h4>
      <table border="1">
        <tr class="header-element">
          <th class="header-element">First Name</th>
          <th class="header-element">Last Name</th>
          <th class="header-element">Specialization</th>
          <th class="header-element">Offices</th>
        </tr>
        <% doctors.forEach(doc => { %>
          <tr class="data-row">
            <td class="data-element"><%= doc.fname %></td>
            <td class="data-element"><%= doc.lname %></td>
            <td class="data-element"><%= doc.specialization %></td>
            <td><button type="button" class="viewDoctorLocationsBtn" doctorId="<%= doc.employee_id %>">View Available Offices</button></td>
          </tr>
        <% }) %>
      </table>
    </div>

  </div>
  <p></p>
  <button type="button" class="register-btn">
    Register as Patient
  </button>
  <brr>
  <button class="btn" type="button" onclick="window.location.href='/'">Back to Login</button>
</body>
</html>
