<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Appointment Info</title>
    <link rel="stylesheet" href="/styles/dashboards.css">
    <link rel="stylesheet" href="/styles/tables.css">
</head>
<body>
    <h1 class="main-header">Doctor Appointments</h1>
    <h3 class="table-title">Upcoming Appointments</h3>
      <table border="1">
        <tr class="header-row">
          <th class="header-element">Date</th>
          <th class="header-element">Start</th>
          <th class="header-element">End</th>
          <th class="header-element">Patient</th>
          <th class="header-element">Note</th>
        </tr>
        <% appointmentsUpcoming.forEach(app => { %>
        <tr class="data-row">
          <td class="data-element"><%= app.date %></td>
          <td class="data-element">
            <% if (app.start_time) { %>
              <%= app.start_time.length === 8 ? app.start_time.slice(3) : app.start_time %>
            <% } else { %>
              —
            <% } %>
          </td>
          <td class="data-element">
            <% if (app.end_time) { %>
              <%= app.end_time.length === 8 ? app.end_time.slice(3) : app.end_time %>
            <% } else { %>
              —
            <% } %>
          </td>
          <td class="data-element"><%= app.patient_name %></td>
          <td class="data-element"><%= app.note || '—' %></td>
        </tr>
        <% }) %>
      </table>
    </div>
    <div>
      <h3 class="table-title">Past Appointments</h3>
      <table border="1">
        <tr class="header-row">
          <th class="header-element">Date</th>
          <th class="header-element">Start</th>
          <th class="header-element">End</th>
          <th class="header-element">Patient</th>
          <th class="header-element">Note</th>
        </tr>
        <% appointmentsPast.forEach(app => { %>
        <tr class="data-row">
          <td class="data-element"><%= app.date %></td>
          <td class="data-element">
            <% if (app.start_time) { %>
              <%= app.start_time.length === 8 ? app.start_time.slice(3) : app.start_time %>
            <% } else { %>
              —
            <% } %>
          </td>
          <td class="data-element">
            <% if (app.end_time) { %>
              <%= app.end_time.length === 8 ? app.end_time.slice(3) : app.end_time %>
            <% } else { %>
              —
            <% } %>
          </td>
          <td class="data-element"><%= app.patient_name %></td>
          <td class="data-element"><%= app.note || '—' %></td>
        </tr>
        <% }) %>
      </table>
    </div>
    <div>
    <br />
    <button class="btn" type="button" onclick="window.history.back()">Back</button>
</body>
</html>